<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CayitaJavascript - Demo"/>
	<meta name="keywords" content="Html, JavaScript,ServiceStack,ASP.NET MVC,ASP.NET MVC3,Json,C#,Ajax,Boostrap, Saltarelle" />
    <meta name="author" content="angel ignacio colmenares laguado">
    <title>Cayita.HtmlWidgets</title>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">  
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
	  .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
		margin-top: 0px;
	  }
	  .form-horizontal .control-group {
		margin-bottom: 10px;
	  }
	  legend + .control-group {
		margin-top: 10px;
		-webkit-margin-top-collapse: separate;
	  }
	  .table thead th {text-align: center;font-weight: bold; }
	  input + .span1 { margin-left:30px}
	  	  
	  label.error {
			font-weight: bold;
			color: red;
	  }
    </style>
    
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
	<!-- Le javascript   ================================================== -->
    <script type="text/javascript">
  		var cayita={};
		cayita.fn={};
		cayita.fn.toDate= function(value){return new Date(value.slice(6,10), parseInt(value.slice(3,5)-1) , value.slice(0,2)) };
		cayita.fn.isDateFormatted=function(value){ return /^[\d]{2}\.[\d]{2}\.[\d]{4}$/.test(value) || /^[\d]{2}\/[\d]{2}\/[\d]{4}$/.test(value) || /^[\d]{2}\-[\d]{2}\-[\d]{4}$/.test(value)};
		cayita.fn.populateFrom=function(target,source){for( var p in source) target[p]= source[p]};
		cayita.fn.toServerDate= function(value){return value.slice(6,10)+'.'+ value.slice(3,5)+'.'+ value.slice(0,2) };
		cayita.fn.autoNumeric=function(element,options){
			var e = $(element); 
			if(!e.attr("autonumeric"))
			{
				e.autoNumeric( 'init', options); 
				e.attr("autonumeric",true); 
				e.attr("data-type","numeric");
				e.css({"text-align":"right"});
			}
			else
				e.autoNumeric( 'update', options); 
			
			return e;
		};
		
		cayita.fn.datepicker=function(element,options){
			var e = $(element); 
			e.datepicker(options); 
			e.attr("datepicker",true); 
			return e;
		};
		
		cayita.fn.clone=function(source){var target={};for(var p in source){target[p]= source[p];}return target};
		
		cayita.fn.getValue=function(element){
			var e = $(element); 
			if( e.attr("autonumeric") ) return parseFloat(e.autoNumeric("get"));
			if( e.attr("datepicker") ){
			 	return e.datepicker("getDate")
			 }
			return e.attr("data-type")!="numeric"? e.val(): parseFloat(e.val());
		};
		
		cayita.fn.setValue=function(element,value){
			var e = $(element); 
			if( e.attr("autonumeric") ) { e.autoNumeric("set",value) }
			else if ( e.attr("datepicker") ) { e.datepicker("setDate", value) }
			else { e.val(value) }
			return e;
		};
		
		cayita.fn.convertToDate= function (v){
			if (!v) return null;
			if (typeof v == 'string'){
				var d = new Date(parseFloat(/Date\(([^)]+)\)/.exec(v)[1])) // thanks demis bellot!
				return new Date( d.getUTCFullYear(),d.getUTCMonth(), d.getUTCDate(),
				 				 d.getUTCHours(), d.getUTCMinutes(), d.getUTCSeconds());
			}
			else
				return v;   
		};
		
		cayita.fn.loadForm=function(form, data){
			form.reset();
			var $form= $(form);
			for(var d in data){
				
				var field = $form.find("input[name='"+d+"']");
				var type = field.attr("type");
				if(field) {
					if(type=="radio"){
					    for (var i=0; i<field.length;i++){
  							var fr =$(field[i]);
							if(fr.attr("type") =="radio"){
								fr.attr("checked", (fr.attr("value")==data[d])? "checked":null) ;
							}
						}
					}
					else if (type=="checkbox"){
						for (var i=0; i<field.length;i++){
  							var fr =$(field[i]);
							if(fr.attr("type") =="checkbox"){
								fr.attr("checked", data[d]? "checked":null) ;
							}
						}
					}
					else
						this.setValue(field, data[d] );
				}
			}
			
			$form.data("_source", this.serialize(form));
			
		};
		
		
		cayita.fn.loadTo=function(form, data){
			
			var $form= $(form);
			for(var d in data){
	
				var field = $form.find("input[name='"+d+"']");
				if(field) {
					var type = field.attr("type");
					if(type=="radio"){
						var v = $("input:checked", field.parent()).val();
						if(v) data[d]=v;
					}
					else if (type=="checkbox"){
						var v = $("input:checked", field.parent()).val();
						if(v) data[d]=v;
					}
					else
						data[d]= this.getValue(field.get(0));
				}
			}
			return data;
		};
		
		cayita.fn.serialize=function(form){
			var a= $("[autonumeric=true]", form);
			return (a && a.length)? $(form).autoNumeric('getString'): $(form).serialize();
		};
		
		cayita.fn.dataChanged=function(form){
			return this.serialize(form)!=$(form).data("_source");		
		};
		
    </script>
  	<script src="js/mscorlib.min.js"></script>
	<script src="js/linq.min.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script src="js/autonumeric-1.8.6.js"></script>
    <script src="js/Cayita.Javascript.UI.js"></script>
    <script src="js/Calamar.Modelos.js"></script>
    <script src="js/Calamar.App.js"></script>
    
	<script type="text/javascript">
		App.main();	
	</script>
  
  </head>

    
  </body>
</html>
